<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="characterselect.css">
</head>

<body>
  <div class="heading">Choose Your Character!</div>
  <button class="back">Back</button>
  <div class="grid-container">
    <button class="character-one"></button>
    <button class="character-two"></button>
    <button class="character-three"></button>
    <div class="text-one">Red Blob</div>
    <div class="text-two">Blue Blob</div>
    <div class="text-three">Grey Blob</div>
  </div>
</body>

</html>