<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="characterselect.css">
</head>

<body>
  <div class="heading">Choose Your Character!</div>
  <a href="menu.html" class="back-link">
    <button class="back">&laquo;</button>
  </a>
  <div class="grid-container">
    <form action="stageselect.html" method="get">
      <input type="hidden" name="character" value="one" />
      <button type="submit" class="character-one"></button>
    </form>
    <form action="stageselect.html" method="get">
      <input type="hidden" name="character" value="one" />
      <button type="submit" class="character-two"></button>
    </form>
    <form action="stageselect.html" method="get">
      <input type="hidden" name="character" value="one" />
      <button type="submit" class="character-three"></button>
    </form>
    <div class="text-one">Red Blob</div>
    <div class="text-two">Blue Blob</div>
    <div class="text-three">Grey Blob</div>
  </div>
</body>

</html>
