<html>
<title>WinLose PopUP</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="winlose.css">
<body>

  <div id="LoseGame" class="modal">
    <div class="modal-content">
      <div class="item1"><p><center>Game Over</center></p></div>
      <div class="item2"><center><button class="button">Replay</button></center></div>
      <div class="item3"><center><button class="button">Menu</button></center></div>
    </div>
    </div>
  </div>

</body>
</html>
