<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="settings.css">
</head>
<body>
  <div class="grid-container">
    <div class="item1">Settings/Instruction</div>
    <div class="item2">
      How to play:
      Collect all the letters and reach the door while avoiding all the monsters.
      If you contact the monster you will loser a letter.
      If you run out of letter you will die.
    </div>
    <div class="item3">
      <input type="range" min="1" max="100" value="50" class="slider" id="sliderRange">
    </div>
    <div class="item4">Key instructions go here with arrow key assets</div>
    <div class="item5"><a href="menu.html" class="button"><button>Go Back</button></a></div>
  </div>
</body>
</html>
