<!DOCTYPE html>
<html>
<head>
  <style>
    button {
      background-color: #4CAF50;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
  </style>
</head>
<body>
  <h1> Settings </h1>
  <p>
    How to play:
    <br>Collect all the letters and reach the door while avoiding all the monsters.
    <br>If you contact the monster you will loser a letter.
    <br>If you run out of letter you will die.
  </p>
  <a href="#" class="button"><button>Sound/Volume</button></a>
  <a href="menu.html" class="button"><button>Go Back</button></a>
</body>
</html>
