<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="stageselect.css">
</head>

<body>
  <div class="heading">Select Stage</div>
  <button class="back">Back</button>
  <div class="grid-container">
    <div class="stage-one">
      <button class="stage-one-button">Stage 1</button>
      <div class="stage-one-checkbox">
        <input type="checkbox" name="stage-one-checkbox" value="Locked"> Unlocked<br>
      </div>
    </div>
    <div class="stage-two">
      <button class="stage-two-button">Stage 2</button>
      <div class="stage-two-checkbox">
        <input type="checkbox" name="stage-two-checkbox" value="Locked"> Unlocked<br>
      </div>
    </div>
    <div class="stage-three">
      <button class="stage-three-button">Stage 3</button>
      <div class="stage-one-checkbox">
        <input type="checkbox" name="stage-three-checkbox" value="Locked"> Unlocked<br>
      </div>
    </div>
  </div>
</body>

</html>