<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="stageselect.css">
</head>

<body>
  <div class="heading">Select Stage</div>
  <a href="characterselect.html" class="back-link">
    <button class="back">&laquo;</button>
  </a>
  <div class="grid-container">
    <div class="stage-one">
      <form action="stage1.html" method="get">
        <button type="submit" class="stage-unlocked-button stage-button">Stage 1</button>
        <div class="stage-checkbox">
          <input type="checkbox" name="stage-one-checkbox" value="Locked" disabled> Unlocked<br>
        </div>
      </form>
    </div>
    <div class="stage-two">
      <form action="stage1.html" method="get">
        <button type="submit" class="stage-unlocked-button stage-button">Stage 2</button>
        <div class="stage-checkbox">
          <input type="checkbox" name="stage-two-checkbox" value="Locked" disabled> Unlocked<br>
        </div>
      </form>
    </div>
    <div class="stage-three">
      <form action="stage1.html" method="get">
        <button type="submit" class="stage-unlocked-button stage-button">Stage 3</button>
        <div class="stage-checkbox">
          <input type="checkbox" name="stage-three-checkbox" value="Locked" disabled> Unlocked<br>
        </div>
      </form>
    </div>
  </div>
</body>

</html>