<!doctype html>
<html lang="en">
<title>
  Letter Run
</title>

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" href="endscreen.css">
  <title>Making your first Phaser 3 Game - Part 10</title>
  <script type="text/javascript" src="js/lib/jquery-1.11.1.min.js"></script>
  <!-- <script>
      $(function(){ $("head").load("/../Fixed/header.html") });
    </script> -->
  <script src="https://cdn.jsdelivr.net/npm/phaser@3.15.1/dist/phaser-arcade-physics.min.js"></script>
  <!-- The Modals MUST INCLUDE THIS IN YOUR STAGE  -->
  <script src="win.js"></script>
  <script src="lose.js"></script>
  <style type="text/css">
    body {
      margin: 0;
    }
  </style>
</head>

<body>

  <script type="text/javascript">
    // Get the modals
    var win_modal = document.getElementById('WinGame');
    var lose_modal = document.getElementById('LoseGame');

    // Get other buttons
    var replay_btn1 = document.getElementById("replay_button_1");
    var replay_btn2 = document.getElementById("replay_button_2");
    var menu_btn1 = document.getElementById("menu_button_1");
    var menu_btn2 = document.getElementById("menu_button_2");
    var next_btn = document.getElementById("next_button");


    replay_btn1.onclick = function() {
      window.location.href = "stage2.html";
    }

    replay_btn2.onclick = function() {
      window.location.href = "stage2.html";
    }

    menu_btn1.onclick = function() {
      window.location.href = "menu.html";
    }

    menu_btn2.onclick = function() {
      window.location.href = "menu.html";
    }

    next_btn.onclick = function() {
      // redirect to the next stage
      window.location.href = "stage3.html";
    }

    var config = {
      type: Phaser.AUTO,
      width: 800,
      height: 600,
      physics: {
        default: 'arcade',
        arcade: {
          gravity: {
            y: 300
          },
          debug: false
        }
      },
      scene: {
        preload: preload,
        create: create,
        update: update,
      }
    };
    var player;
    var stars;
    var bombs;
    var enemies;
    var platforms;
    var cursors;
    var score = 0;
    var gameOver = false;

    /////////////////////////
    var door;
    var WORD = "penguin"; // change word for each stage
    var alpha = "abcdefghijklmnopqrstuvwxyz"; // don't change
    alpha.replace(/[penguin]/g, '') // change the word for each stage
    var WORD_LEN = WORD.length;
    var letterCount = WORD_LEN + 2; // the int is the count of random letters
    var letterBoard = []; // array of letters that the player collected
    var letter = ''; // only used once??
    var tmp;
    var i = 0;
    var x_for_board; // x-axis for board display
    var x = Math.floor(Math.random() * 800); // x pos for collectable letter
    var y = Math.floor(Math.random() * 400); // y pos for collectable letter
    var xList = []; // array of x-axis
    var yList = []; // array of y-axis
    // var visitChecker = [] // check if a letter in the word is collected
    // for (var i = 0; i < WORD_LEN; i++){
    //   visitChecker.push("");
    // }
    var visitChecker = "".repeat(WORD_LEN).split("");

    ////////////////////////

    var game = new Phaser.Game(config);

    function preload() {
      //////////////////////////
      var current = '';
      for (var i = 0; i < 26; i++) {
        current = alpha.charAt(i); // Collectable letters
        this.load.image(current, '../assets/' + current + '.png');
        current = alpha.charAt(i) + alpha.charAt(i); // Color-box letters
        this.load.image(current, '../assets/' + current + '.png');
        current = alpha.charAt(i) + alpha.charAt(i) + alpha.charAt(i); // Gray-box letters
        this.load.image(current, '../assets/' + current + '.png');
      }
      this.load.image('door', '../assets/door.png');

      for (var i = 1; i < 10; i++) {
        this.load.image('chest' + i, '../newAssets/chest/Chest' + (i) + '.png');
      }
      //////////////////////////
      this.load.image('sky', '../newAssets/background/Background.png');
      this.load.image('ground', '../newAssets/background/Grass.png');
      this.load.audio('song', '../newAssets/bensound-endlessmotion.mp3');

      for (var i = 0; i < 18; i++) {
        this.load.image('hero' + i, '../newAssets/character/Run/' + (i + 1) + 'r.png');
      }
      this.load.image('enemy', '../newAssets/character/enemy.png');
      this.load.image('wall', '../assets/invisibleWall.png');
    }

    function create() {

      //console.log(alpha.replace(/[penguin]/g, ''));

      this.sound.play('song');
      this.add.image(960, 300, 'sky').setDisplaySize(1920, 1080);
      this.add.image(2880, 300, 'sky').setDisplaySize(1920, 1080);

      //NEW CHANGES
      timeText = this.add.text(630, 16, 'Time: ', {
        fontSize: '26px',
        fill: '#000'
      });
      timeText.setScrollFactor(0);
      startTime = new Date().getTime();
      console.log(startTime)

      //  The platforms group contains the ground and the 2 ledges we can jump on
      platforms = this.physics.add.staticGroup();
      walls = this.physics.add.staticGroup();
      // Ground/starting platform
      platforms.create(400, 700, 'ground').setDisplaySize(800, 60).refreshBody();
      // Stairs
      platforms.create(1100, 700, 'ground').setDisplaySize(200, 60).refreshBody();
      platforms.create(1500, 600, 'ground').setDisplaySize(200, 60).refreshBody();
      platforms.create(1950, 500, 'ground').setDisplaySize(200, 60).refreshBody();
      platforms.create(2300, 400, 'ground').setDisplaySize(200, 60).refreshBody();
      platforms.create(2400, 240, 'ground').setDisplaySize(100, 60).refreshBody();
      // Sky Platform
      platforms.create(2000, 100, 'ground').setDisplaySize(400, 60).refreshBody();
      platforms.create(1700, 300, 'ground').setDisplaySize(400, 60).refreshBody();
      platforms.create(1000, 300, 'ground').setDisplaySize(800, 60).refreshBody();

      //platforms.create(2400, 560, 'ground').setDisplaySize(800, 60).refreshBody();
      //platforms.create(600, 400, 'ground').setDisplaySize(300, 60).refreshBody();
      //platforms.create(100, 250, 'ground').setDisplaySize(200, 60).refreshBody();
      //platforms.create(750, 220, 'ground').setDisplaySize(400, 60).refreshBody();
      //platforms.create(800, 50, 'ground').setDisplaySize(400, 60).refreshBody();

      // The player and its settings
      player = this.physics.add.sprite(80, 450, 'hero0');
      player.setDisplaySize(36, 44);
      enemies = this.physics.add.group();

      player.setCollideWorldBounds(false);

      var heroFrames = [];
      for (var i = 0; i < 18; i++) {
        heroFrames.push({
          key: 'hero' + i
        });
      }
      ///////////////////////////

      // Display initial board (grayed-out version)
      for (i = 0; i < WORD_LEN; i++) {
        x_for_board = 25 + (50 * i);
        letter = WORD.charAt(i) + WORD.charAt(i) + WORD.charAt(i);
        tmp = this.add.sprite(x_for_board, 25, letter);
        tmp.setDisplaySize(40, 40);
        tmp.setScrollFactor(0);
      }



      // Display the door in a specific location - Change each stage
      door = this.physics.add.sprite(720, 140, 'chest1');
      door.setDisplaySize(65, 65);
      door.body.width = 65;
      door.body.height = 65;
      door.immovable = true; //////////

      this.physics.add.collider(door, platforms);

      ///////////////////////

      var doorFrames = [];
      for (var i = 1; i < 10; i++) {
        doorFrames.push({
          key: 'chest' + i
        });
      }
      //  Our player animations, turning, walking left and walking right.
      this.anims.create({
        key: 'run',
        frames: heroFrames,
        frameRate: 30,
        repeat: -1
      });

      this.anims.create({
        key: 'stop',
        frames: [{
          key: 'hero0'
        }],
        frameRate: 10
      });

      this.anims.create({
        key: 'enemyMove',
        frames: [{
          key: 'enemy'
        }],
        frameRate: 10,
        repeat: -1
      })

      this.anims.create({
        key: 'openChest',
        frames: doorFrames,
        frameRate: 7
      })


      platforms.children.iterate(function(child) {
        var width = child.displayWidth

        walls.create(child.x - (width / 2), child.y - 20, 'wall');
        walls.create(child.x + (width / 2), child.y - 20, 'wall');
        enemies.create(child.x, child.y - 51, 'enemy');
      });

      walls.children.iterate(function(child) {
        child.alpha = 0;
        child.body.immovable = true;
      });

      enemies.children.iterate(function(child) {
        child.setVelocityX(Math.floor(Math.random() * (-20 + 1)) + -50);
        child.body.allowGravity = false;
        child.setDisplaySize(50, 50)
        child.body.width = 50;
        child.body.immovable = true;
        child.setCollideWorldBounds(false);
      });

      //  Input Events
      cursors = this.input.keyboard.createCursorKeys();

      //  Some stars to collect, 12 in total, evenly spaced 70 pixels apart along the x axis

      ////////////////////////////
      // Get a list of random x values so that there is no overlap
      for (i = 0; i < letterCount; i++) {
        while (checkOverlap() === 1) {
          x = Math.floor(Math.random() * 2200 + 20); // set the range from 30 to 770
        }
        xList.push(x);
        yList.push(y); //(770 - 30 + 1) + 30
        x = Math.floor(Math.random() * 1800 + 20);
        y = 0;
      }

      // Place collectable letters
      for (i = 0; i < letterCount; i++) {
        if (i < WORD_LEN) {
          tmp = WORD.charAt(i); // must display the letters in the word
          visitChecker[i] = "placed";
        } else {
          tmp = chooseRandomLetter(alpha);
        }
        letter = this.physics.add.sprite(xList[i], yList[i], tmp);
        if (tmp == 'w') { // make w size equal to others
          letter.setDisplaySize(50, 50);
        } else {
          letter.setDisplaySize(40, 40);
        }
        this.physics.add.collider(letter, platforms);
        this.physics.add.overlap(player, letter, collectLetter, null, this);
        letter.myName = tmp;
      }


      //////////////////////


      //this.physics.add.collider(door, enemies);
      this.physics.add.collider(player, platforms);
      this.physics.add.collider(enemies, platforms);
      this.physics.add.overlap(enemies, walls, hitWall, null, this);
      this.physics.add.collider(player, enemies, hitEnemy, null, this);
      this.physics.add.overlap(player, door, hitDoor, null, this);
      // set bounds so the camera won't go outside the game world
      this.cameras.main.setBounds(0, -150, 2600, 900);
      // make the camera follow the player
      this.cameras.main.startFollow(player);
    }

    function update() {
      timeAccrued = new Date().getTime() - startTime;
      timeAccrued = Math.round(timeAccrued / 1000);
      timeText.setText('Time: ' + timeAccrued)
      timeText.depth = 1;
      if (gameOver) {
        return;
      }
      if (player.y > 800) {
        gameOver = true;
        lose_modal.style.display = "block";
      }
      if (cursors.left.isDown) {
        if (player.x < 10) {
          player.setVelocityX(0);
        } else {
          player.setVelocityX(-160);
        }

        player.flipX = true;
        player.anims.play('run', true);
      } else if (cursors.right.isDown) {
        player.setVelocityX(160);
        player.flipX = false;
        player.anims.play('run', true);
      } else {
        player.setVelocityX(0);

        player.anims.play('stop');
      }
      if (cursors.up.isDown && player.body.touching.down) {
        player.setVelocityY(-330);
      }
      if (cursors.down.isDown) {
        player.setVelocityY(330);
      }

    }
    /////////////////////
    // Chooses a random letter from the given string
    function chooseRandomLetter(str) {
      var index = Math.floor(Math.random() * str.length);
      var ret = '';
      ret += str.charAt(index);
      return ret;
    }

    // Updates letter board as the player collects the letter
    function collectLetter(player, letter) {
      letter.disableBody(true, true);
      var cur = '';
      for (i = 0; i < WORD_LEN; i++) {
        if (letter.myName === WORD.charAt(i)) {
          if (visitChecker[i] != "visited") {
            // Updates letter board
            x_for_board = 25;
            cur = WORD.charAt(i) + WORD.charAt(i);
            x_for_board = x_for_board + (50 * i);
            tmp = this.add.sprite(x_for_board, 25, cur);
            tmp.setDisplaySize(40, 40);
            tmp.setScrollFactor(0);
            visitChecker[i] = "visited";
            // var index = xList.indexOf(letter.x);
            letterBoard.push(letter.myName);
            break;
          } else {
            continue;
          }
        }
      }
    }

    // Checks if there is a overlapping x value in xList
    function checkOverlap() {
      var len = xList.length;
      for (i = 0; i < len; i++) {
        if (x < xList[i] + 30 && x > xList[i] - 30) {
          return 1;
        }
      }
      return 0;
    }




    //Checks if all letters have been collected to make the game over or not
    function hitDoor(player, door) {
      var cond = true;
      for (var i = 0; i < WORD_LEN; i++) {
        if (visitChecker[i] != "visited") {
          cond = false;
        }
      }
      if (cond === true) {
        this.physics.pause();
        player.anims.play('stop');
        door.anims.play('openChest');
        gameOver = true;
        win_modal.style.display = "block";
      }
    }

    function hitWall(enemy, wall) {
      console.log("hitWall");
      var speed = enemy.body.velocity.x
      speed = -1 * speed;
      enemy.body.setVelocityX(speed);
      enemy.anims.play("enemyMove", true)

    }

    // Checks the letter board to either kill or take away a letter
    function hitEnemy(player, enemy) {
      player.anims.play('stop')
      // Kills the player when no letter is collected
      if (letterBoard === undefined || letterBoard.length == 0) {
        this.physics.pause();
        player.setTint(0xff0000);
        gameOver = true;
        lose_modal.style.display = "block";
      } else { // Takes away one random letter from the letter board
        var len = letterBoard.length;
        var index = Math.floor(Math.random() * len);
        var char = letterBoard[index];
        var x_ = 25;


        for (i = 0; i < WORD_LEN; i++) {
          if (char === WORD.charAt(i)) {
            if (visitChecker[i] === "visited") {
              // Update the letter board
              if (enemy.body.touching.left) {
                //player.setTint(0xff0000);
                player.x = player.x - 20;
                player.body.velocity.y = -150; // make it bounce??
              } else if (enemy.body.touching.right) {
                player.x = player.x + 20;
                player.body.velocity.y = -150; // make it bounce??
              } else if (enemy.body.touching.up) {
                player.body.velocity.y = -150; // make it bounce??
              }

              // Place the letter back to the platforms
              var letter = this.physics.add.sprite(xList[i], yList[i], char);
              if (char == 'w') {
                letter.setDisplaySize(50, 50);
              } else {
                letter.setDisplaySize(40, 40);
              }
              this.physics.add.collider(letter, platforms);
              this.physics.add.overlap(player, letter, collectLetter, null, this);
              letter.myName = char;

              var cur = char + char + char;
              x_ = 25 + (50 * i);
              var tmp = this.add.sprite(x_, 25, cur);
              tmp.setDisplaySize(40, 40);
              letterBoard.splice(index, 1);
              visitChecker[i] = "";
              break;
            }
          }
        }


      }


    }
  </script>

</body>

</html>