<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Making your first Phaser 3 Game - Part 10</title>
    <script type="text/javascript" src="js/lib/jquery-1.11.1.min.js" ></script>
    <!-- <script>
      $(function(){ $("head").load("/../Fixed/header.html") });
    </script> -->
    <script src="https://cdn.jsdelivr.net/npm/phaser@3.15.1/dist/phaser-arcade-physics.min.js"></script>

    <style type="text/css">
        body {
            margin: 0;
        }
    </style>
</head>
<body>

<script type="text/javascript">


var config = {
    type: Phaser.AUTO,
    width: 800,
    height: 600,
    physics: {
        default: 'arcade',
        arcade: {
            gravity: { y: 300 },
            debug: false
        }
    },
    scene: {
        preload: preload,
        create: create,
        update: update
    }
};

var player;
var stars;
var bombs;
var enemies;
var platforms;
var cursors;
var score = 0;
var gameOver = false;
/////newline
var timeText;
var startTime;
var timeAccrued;

var game = new Phaser.Game(config);

function preload ()
{
    this.load.image('sky', '../newAssets/background/Background.png');
    this.load.image('ground', '../newAssets/background/Grass.png');
    this.load.audio('song', '../newAssets/bensound-endlessmotion.mp3');

    for (var i=0; i <18; i++){
      this.load.image('hero'+i,'../newAssets/character/Run/'+ (i+1)+'r.png');
    }
    this.load.image('enemy', '../newAssets/character/enemy.png');
    this.load.image('wall', '../assets/invisibleWall.png');
    this.load.image('worldWall', '../assets/worldWall.png');
}

function create ()
{

    this.sound.play('song');
    this.add.image(400, 300, 'sky').setDisplaySize(800,600);

    //NEW CHANGES
    timeText = this.add.text(670,16,'Time: ',{fontSize: '26px', fill: '#000'});
    startTime = new Date().getTime();
    console.log(startTime)
    // this.timeElapsed = 0;
    // this.timeLable = this.add.text();


    //  The platforms group contains the ground and the 2 ledges we can jump on
    platforms = this.physics.add.staticGroup();
    walls =this.physics.add.staticGroup();

    platforms.create(400, 560, 'ground').setDisplaySize(800,60).refreshBody();
    platforms.create(600, 400, 'ground').setDisplaySize(300,60).refreshBody();
    platforms.create(100, 250, 'ground').setDisplaySize(200,60).refreshBody();
    platforms.create(750, 220, 'ground').setDisplaySize(400,60).refreshBody();

    // The player and its settings
    player = this.physics.add.sprite(80, 450, 'hero0');
    player.setDisplaySize(36,44);
    enemies = this.physics.add.group();

    //  Player physics properties. Give the little guy a slight bounce.
    player.setBounce(0.2);
    player.setCollideWorldBounds(true);

    var heroFrames = [];
    for (var i=0; i<18; i++){
        heroFrames.push({ key: 'hero'+i});
    }

    //  Our player animations, turning, walking left and walking right.
    this.anims.create({
        key: 'run',
        frames: heroFrames,
        frameRate: 30,
        repeat: -1
    });

    this.anims.create({
        key: 'stop',
        frames: [ { key: 'hero0' } ],
        frameRate: 10
    });

    this.anims.create({
      key: 'enemyMove',
      frames: [{key: 'enemy'}],
      frameRate: 10,
      repeat: -1
    })

    var first = 0;


    platforms.children.iterate(function (child) {
        //
          var width = child.displayWidth

            walls.create(child.x-(width/2),child.y-20,'wall');
            walls.create(child.x+(width/2),child.y-20,'wall');
            enemies.create(child.x, child.y-50,'enemy');
        // }
          //
          // first ++;
    });

    walls.children.iterate(function (child) {
      //  child.alpha = 0;
        child.body.immovable = true;
    });

    enemies.children.iterate(function (child) {
        child.setVelocityX(Math.floor(Math.random()*( -20 + 1)) + -50);
        child.body.allowGravity =false;
        child.setDisplaySize(50,50)
        child.body.setSize(40,40);
        child.body.immovable = true;
        //child.setCollideWorldBounds(true);
    });

    //  Input Events
    cursors = this.input.keyboard.createCursorKeys();

    //  Some stars to collect, 12 in total, evenly spaced 70 pixels apart along the x axis






    this.physics.add.collider(player, platforms);
    this.physics.add.collider(enemies, platforms);
    this.physics.add.overlap(enemies, walls, hitWall, null, this);
    this.physics.add.collider(player, enemies, hitEnemy, null, this);

}

function update ()
{
    timeAccrued = new Date().getTime() - startTime;
    timeAccrued = Math.round(timeAccrued / 1000);
    timeText.setText('Time: ' + timeAccrued)



    if (gameOver)
    {
        return;
    }

    if (cursors.left.isDown)
    {
        player.setVelocityX(-160);
        player.flipX = true;
        player.anims.play('run', true);
    }
    else if (cursors.right.isDown)
    {
        player.setVelocityX(160);
        player.flipX = false;
        player.anims.play('run', true);
    }
    else
    {
        player.setVelocityX(0);
        player.anims.play('stop');
    }
    if (cursors.up.isDown && player.body.touching.down)
    {
        player.setVelocityY(-330);
    }

}


function hitEnemy(player, enemy){
   alert("eneterd");

}

function hitWall(enemy, wall){
    console.log("hitWall");
    var speed = enemy.body.velocity.x
    speed = -1 *speed;
    enemy.body.setVelocityX(speed);
    enemy.anims.play("enemyMove",true)
}

</script>

</body>
</html>
