<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="endscreen.css">
</head>

<body>

  <h2>Modal Example</h2>

  <!-- Trigger/Open The Modal -->
  <button id="myWinBtn">Win</button>
  <button id="myLoseBtn">Lose</button>

  <!-- The Modals MUST INCLUDE THIS IN YOUR STAGE  -->
  <script src="win.js"></script>
  <script src="lose.js"></script>

  <script>
    // to use the modals in a stage, modify this script include the scripts above also

    // Get the modals
    var win_modal = document.getElementById('WinGame');
    var lose_modal = document.getElementById('LoseGame');

    // Get the buttons that opens the modals
    var win_btn = document.getElementById("myWinBtn");
    var lose_btn = document.getElementById("myLoseBtn");

    // Get other buttons
    var replay_btn1 = document.getElementById("replay_button_1");
    var replay_btn2 = document.getElementById("replay_button_2");
    var menu_btn1 = document.getElementById("menu_button_1");
    var menu_btn2 = document.getElementById("menu_button_2");
    var next_btn = document.getElementById("next_button");

    // When the user clicks the button, open the modal
    // Instead of calling the modals on button click, they will be called on
    // win/lose conditions triggered by the game
    win_btn.onclick = function() {
      win_modal.style.display = "block";
    }

    lose_btn.onclick = function() {
      lose_modal.style.display = "block";
    }

    replay_btn1.onclick = function() {
      window.location.href = "stage1.html";
    }

    replay_btn2.onclick = function() {
      window.location.href = "stage1.html";
    }

    menu_btn1.onclick = function() {
      window.location.href = "menu.html";
    }

    menu_btn2.onclick = function() {
      window.location.href = "menu.html";
    }

    next_btn.onclick = function() {
      // redirect to the next stage
      window.location.href = "stage1.html";
    }
  </script>

</body>

</html>